@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300&display=swap');

* {
    font-family: 'Source Serif Pro', serif;
}

body {
    overflow-x: hidden;
    margin: 0;
}

.line-break {
    border: 1px solid #14A76C;
    width: 15%;
}

.card h5 {
    font-weight: bolder;
}

.blogs{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#contact-info ul li {
    display: block;
    padding-bottom: 20px;
}

#contact-info ul li a {
    color: #666;
    float: left;
    margin-right: 10px;
}

#contact-info ul li a:hover {
    color: #417505;
}

#statusText,
#subscriberStatus{
    color: #ff0000;
}